// Color Scheme: http://colorschemedesigner.com/csd-3.5/#3z51Tw0w0w0w0

$gutter: 8px;
$flag_red: #503030;
$flag_blue: #99e6ff;
$flag_white: white;

.page-header{
  background-color: rgb(4, 58, 107);
  padding: $gutter;
  color: rgb(103, 159, 210);
  border-bottom-color: $flag_blue;
  margin: 18px 0 18px;
  font-size: 50px;
  padding-bottom: 15px

  // display: inline;
}
.page-header p{
  font-size: 14px;
}
.logo img{
  position: relative;
  bottom: 4px;
  width: 50px;
}
body{
  // background: url('u-w-stars.jpg');
  background-color: $flag_white;
  background-repeat: repeat;
  // margin: $gutter;
  // padding: $gutter;
  // background-color: $flag_white;
}
.panel-body{
  margin: auto;
  padding: $gutter;
  background-color: rgb(96, 214, 169);
}
.btn{
  background-color: rgb(0, 112, 70);
  color: $flag_white;
}
.registered_checkbox {
margin-top: 25px;
}
.row.submit{
  margin-top: $gutter;
}
.container{
  margin: auto;
  width: 90%;
}

.navbar-brand{
margin: -8px -7px 0 -15px;
}
