#map {
  height: inherit;
  width: inherit;
}


.container_map{
  height : 370px;
  width: 600px;
  flex: 1;
  margin:10px 0 0 10px;
}
body {
  display: block;
}
.panel.map_poll_reg{
  height :390px;
  width: 70%;
  margin: auto;
  display: flex;
}
#map_info {
  flex: 1;
  display:block;
      margin: 10px 10px 0 0;

}

#poll .panel-heading {

  text-align: center;

}
#reg{
  @extend #poll
}
.rows {
  width: 70%;
  margin: auto;
  .first_row {
    border: 1px solid black;
    display: flex;

    .prez {
      flex: 1;
      display: flex;
      height: 400px;
      width: auto;
      border: 3px solid #73AD21;
        img {
          flex: 1;
          max-width: 100%;
          height: 100%;
          padding-right: 10px;
        }
        .info {
          flex: 1;
          word-wrap: break-word;
        }
    }

    .vice_prez {
      flex: 1;
      display: flex;
      height: 400px;
      width: auto;
      border: 3px solid #73AD21;
        img {
          flex: 1;
          max-width: 100%;
          height: 100%;
          padding-right: 10px;
        }
        .info {
          flex: 1;
          word-wrap: break-word;
        }
    }
  }

  .second_row {
    border: 3px solid black;
    display: flex;

    .sen_1 {
      flex: 1;
      display: flex;
      height: 400px;
      width: auto;
      border: 3px solid #73AD21;
      img {
        flex: 1;
        max-width: 100%;
        height: 100%;
        padding-right: 10px;
      }
      .info {
        flex: 1;
        word-wrap: break-word;
      }
    }

    .sen_2 {
      flex: 1;
      display: flex;
      height: 400px;
      width: auto;
      border: 3px solid #73AD21;
        img {
          flex: 1;
          max-width: 100%;
          height: 100%;
          padding-right: 10px;
        }
        .info {
          flex: 1;
          word-wrap: break-word;
        }
    }
  }

  .third_row {
    border: 3px solid black;
    margin: auto;
    display: flex;
    .repz {
      margin: auto;
      display: flex;
      height: 400px;
      width: auto;
      border: 3px solid #73AD21;
        img {
          flex: 1;
          max-width: 100%;
          height: 100%;
          padding-right: 10px;
        }
        .info {
          flex: 1;
          word-wrap: break-word;
        }
    }
  }
}
