<div class = 'description'>
  <div class="panel panel-default">
    <div class="panel-body">
  <p>
    CountMe is an app which will allow you to find out crucial information about
    upcoming elections. Sign Up and enter your address and CountMe will provide
    you with your polling location, its hours on the election date, and information
    on your current elected officials.
  </p>
  <p>
    If you are already registered with CountMe, Log in now and you will be directed
    to your election information.
  </p>
</div>
</div>


 <%= link_to 'Sign up', new_user_registration_path, method: 'GET', :class => "btn btn-secondary" %>
 <%= link_to 'Sign In', new_user_session_path, method: 'GET', :class => "btn btn-secondary" %>
</div>
